:root {
  --text-gray: #CBCBCB;
  --text-nav-hover: #a7a7a7;
  --footer-bg: #292929;
}

.footer {
  width: 100%;
  background-color: var(--footer-bg);
  color: var(--text-gray);
  padding-top: 50px;
  bottom: 0;
}
footer .rounded-circle {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.0;
  background-color: rgba(255, 255, 255, .5);
}
.footerIMG {
  width: 160px;
  height: auto;
}

footer h6 {
  font-size: .8rem;
}
footer .nav-link {
  font-size: .9rem;
  color: white;
}
footer .nav-link:hover {
  color: var(--text-nav-hover);
}

@media (max-width: 991px) {
  footer .rounded-circle {
    width: 175px;
  }
  .footerIMG {
    width:110px;
  }
}