* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Aviano Future Bold";
  src: url("../fonts/Aviano-future/bold/Aviano-future-bold.eot")
      format("embedded-opentype"),
    url("../fonts/Aviano-future/bold/Aviano-future-bold.woff2") format("woff2"),
    url("../fonts/Aviano-future/bold/Aviano-future-bold.woff") format("woff"),
    url("../fonts/Aviano-future/bold/Aviano-future-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Aviano Future Black";
  src: url("../fonts/Aviano-future/black/Aviano-future-black.eot")
      format("embedded-opentype"),
    url("../fonts/Aviano-future/black/Aviano-future-black.woff2")
      format("woff2"),
    url("../fonts/Aviano-future/black/Aviano-future-black.woff") format("woff"),
    url("../fonts/Aviano-future/black/Aviano-future-black.ttf")
      format("truetype");
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Aviano Future Bold", "Roboto", sans-serif;
}
.nav-link {
  font-family: "Aviano Future Bold", "Roboto", sans-serif;
}
header .img-fluid.logo {
  height: 100px;
  padding: 16px 0;
}
header .menu,
#open-btn {
  font-size: 3rem;
}
.frontpageIMG {
  height: 250px;
}
#bots .card {
  margin: 0 1.5rem;
  min-width: 185px;
  padding: 10px;
}
#bots .no-bots {
  background-color: #707070;
  font-weight: 700;
  font-size: 1.2rem;
}
#bots .card:first-child {
  margin-left: 0rem;
}
#bots .card:last-child {
  margin-right: 0rem;
}
#bots .botBanner {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.65);
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#bots .card h5 {
  color: #1915a7;
}
#events .card.event {
  max-width: 400px;
  width: 300px;
  padding: 15px;
  border-radius: 0%;
  background-color: black;
  opacity: 80%;
}

.eventShowBox {
  max-width: 1000px;
}
.eventsCard {
  background-color: #707070;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  transition: ease-in-out 0.4s;
  cursor: default;
}

@media only screen and (min-width: 767px) {
  .eventsCard:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
  }
}

.calendarDate {
  font-size: 15px;
}
.calendarTitle {
  font-size: 20px;
  color: #bfc9d3;
}
.calendarInfo {
  font-size: 12px;
}

/* Mobile menu */

.menu {
  display: none;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0.8125rem;
  box-shadow: 0 0 1rem 0 #000;
  z-index: 999999999;
}
.header-menu {
  padding: 20px 10px;
  border-bottom: 3px solid #e1e1e1;
}
.header-title {
  font-size: 18px;
}
.header-title a {
  color: white !important;
  font-weight: bold;
}
.close-btn {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.hamburger {
  position: relative;
  margin: 0px 0 0px;
  width: 30px;
  height: 22px;
  top: calc(50% - 11px);
  cursor: pointer;
}
.hamburger-line {
  position: absolute;
  background-color: #fff !important;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 3px;
}
.hamburger-line-top {
  top: 0;
}
.hamburger-line-mid {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-line-bot {
  bottom: 0;
}
.hamburger-line-text {
  position: absolute;
  left: 120%;
  font-size: 14px;
  font-weight: 600;
  top: -4px;
  color: #fff;
}
.navbar {
  padding: 0;
}
.nav-link {
  padding: 0.2rem .8rem;
}
.navbar-collapse .nav-item span {
  color: white;
}
.navbar-collapse .nav-item:hover {
  background: rgba(230, 0, 3, 1);
}
.menu-content h3 {
  margin-left: 2%;
  margin-top: 2%;
}
.menu-content h3 span {
  color: #333 !important;
}

#events .calendarCountDown {
  font-weight: bold;
  color: Black;
}

#events .calendarTitle {
  color: rgb(211, 187, 187);
  font-weight: bold;
}
.menu-item {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  padding: 0%;
  font-size: 16px;
  line-height: 30px;
}
.menu-item a {
  color: black;
  padding: 10px 10px;
  display: block;
}
.item-list {
  padding-left: 0;
}
.close-btn .material-icons {
  font-size: 30px;
}
@media (min-width: 992px) {
  .input-group.w-lg-50 {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  #bots .card {
    margin: 0 0.4rem;
  }
}
@media (max-width: 768px) {
  .img-fluid.scoreImg {
    height: 60px;
  }
}
@media (max-width: 1332px) {
  header .nav-link {
    padding: 0.5rem;
  }
}
