* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Aviano Future Bold"; 
  src: url("../fonts/Aviano-future/bold/Aviano-future-bold.eot") format("embedded-opentype"), 
       url("../fonts/Aviano-future/bold/Aviano-future-bold.woff2") format("woff2"),
       url("../fonts/Aviano-future/bold/Aviano-future-bold.woff") format("woff"), 
       url("../fonts/Aviano-future/bold/Aviano-future-bold.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Aviano Future Black"; 
  src: url("../fonts/Aviano-future/black/Aviano-future-black.eot") format("embedded-opentype"), 
       url("../fonts/Aviano-future/black/Aviano-future-black.woff2") format("woff2"), 
       url("../fonts/Aviano-future/black/Aviano-future-black.woff") format("woff"), 
       url("../fonts/Aviano-future/black/Aviano-future-black.ttf") format("truetype");
} 
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Aviano Future Bold", "Roboto", sans-serif;
}
.nav-link {
  font-family: "Aviano Future Bold", "Roboto", sans-serif;
}
header .img-fluid.logo {
  height: 100px;
  padding: 16px 0;
}
.frontpageIMG {
  height: 250px;
}
#bots .card {
  margin: 0 1.5rem;
}
#bots .card:first-child {
  margin-left: 0rem;
}
#bots .card:last-child {
  margin-right: 0rem;
}
#bots .botBanner {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.65);
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#bots .card h5 {
  color: #1915a7;
}
#events .card.event {
  max-width: 400px;
  width: 300px;
  padding: 15px;
  height: 150px;
  border-radius: 0%;
  background-color: black;
  opacity: 80%;
}

#events .calendarbox {
  background-image: url("../img/Calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
}
#events .calendarbox span {
  color: white;
  line-height: 48px;
}
#events .calendarbox span.calendarDay {
  font-size: 3.5rem;
}
#events .calendarbox span.calendarMonth {
  font-size: 2rem;
}

#events .calendarDate {
  font-weight: bold;
  color: white;
}

#events .calendarTitle {
  color: rgb(211, 187, 187);
  font-weight: bold;
  font-size: 0.9rem;
}

#events .calendarInfo {
  color: white;
  font-size: 1rem;
}

@media (min-width : 992px) {
  .input-group.w-lg-50 {
    width: 50%;
    margin: 0 auto;
  }
}

.pointer {
  cursor: pointer;
}